<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/ManageAccount.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFacultyServlet</servlet-name>
        <servlet-class>servlet.ListFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentManagementServlet</servlet-name>
        <servlet-class>servlet.StudentManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizzesServlet</servlet-name>
        <servlet-class>servlet.QuizzesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>servlet.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseServlet</servlet-name>
        <servlet-class>servlet.ListCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>servlet.CreateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherManagementServlet</servlet-name>
        <servlet-class>servlet.TeacherManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveUserSystemServlet</servlet-name>
        <servlet-class>servlet.ActiveUserSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSystemServlet</servlet-name>
        <servlet-class>servlet.ManageSystemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinQuizzesServlet</servlet-name>
        <servlet-class>servlet.JoinQuizzesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRegisterServlet</servlet-name>
        <servlet-class>servlet.TeacherRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>servlet.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoneServlet</servlet-name>
        <servlet-class>servlet.DoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStatisticsServlet</servlet-name>
        <servlet-class>servlet.ViewStatisticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuizServlet</servlet-name>
        <servlet-class>servlet.ManageQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuizServlet</servlet-name>
        <servlet-class>servlet.StartQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuizServlet</servlet-name>
        <servlet-class>servlet.LoadQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDoneButtonServlet</servlet-name>
        <servlet-class>servlet.LoadDoneButtonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>servlet.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyManagementServlet</servlet-name>
        <servlet-class>servlet.FacultyManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>servlet.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>servlet.ScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizzesServlet</servlet-name>
        <servlet-class>servlet.DeleteQuizzesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationByEmailServlet</servlet-name>
        <servlet-class>servlet.AuthenticationByEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFacultyServlet</servlet-name>
        <url-pattern>/ListFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentManagementServlet</servlet-name>
        <url-pattern>/StudentManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizzesServlet</servlet-name>
        <url-pattern>/Quizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourseServlet</servlet-name>
        <url-pattern>/ListCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/CreateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherManagementServlet</servlet-name>
        <url-pattern>/TeacherManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveUserSystemServlet</servlet-name>
        <url-pattern>/ActiveUserSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSystemServlet</servlet-name>
        <url-pattern>/ManageSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinQuizzesServlet</servlet-name>
        <url-pattern>/JoinQuizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRegisterServlet</servlet-name>
        <url-pattern>/TeacherRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoneServlet</servlet-name>
        <url-pattern>/Done</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuizServlet</servlet-name>
        <url-pattern>/ManageQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuizServlet</servlet-name>
        <url-pattern>/StartQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuizServlet</servlet-name>
        <url-pattern>/LoadQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDoneButtonServlet</servlet-name>
        <url-pattern>/LoadDoneButton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyManagementServlet</servlet-name>
        <url-pattern>/FacultyManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationByEmailServlet</servlet-name>
        <url-pattern>/AuthenticationByEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/Score</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizzesServlet</servlet-name>
        <url-pattern>/DeleteQuizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStatisticsServlet</servlet-name>
        <url-pattern>/ViewStatistics</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
