html,
body{
    height: 100%;
}

.login-section {
    background: linear-gradient(to right, rgb(79, 72, 192), rgb(72, 0, 72));
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.login-section-width {
    width: 100%;
}