html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(to right, rgb(79, 72, 192), rgb(72, 0, 72));
    margin-bottom: 60px;
}

html, body {
    font-family: 'Nanum Gothic', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #343a40;
    color: antiquewhite;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    background: #ffffff21;
    border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(250, 235, 215);
}

.navbar-dark .navbar-brand {
    color: antiquewhite !important;
    font-weight: boldersss;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

#child-link{
    position:absolute;
    opacity:1;
    width:100%;
    height:100%;
    background:#ffffff00;
}

.hc-remove {
    display: none;
}

.sc-remove:hover .hc-remove {
    display: block;
}

#block-q .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}