/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2019, 3:34:11 PM
    Author     : tsch
*/

html, body {
    background: linear-gradient(to right, rgb(79, 72, 192), rgb(72, 0, 72));
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.login-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section-width {
    width: 100%;
}

.register-section {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.register-section-width {
    width: 100%;
}

.quizhub {
    font-weight: bold;
    color: #d4cfff;
    text-shadow: 2px 2px 2px #CE5937;
}
